In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
csv_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(csv_path)

In [30]:
# count no. of unique values in SN column

Users = purchase_data_df.SN.nunique()
  
print("Number of unique players:",
      Users)

# Creating a new DataFrame 
#total_players_df = pd.purchase_data_df({"Total Players": Users})
#total_players_df.head()

Number of unique players: 576

In [38]:
#attempt to fix Item ID syntax by renaming the column
purchase_data_renamed_df = purchase_data_df.rename(columns={"Item ID": "Item_Id",
                                                            "Purchase ID": "Purchase_Id"
                                                })
purchase_data_renamed_df

,Purchase_Id,SN,Age,Gender,Item_Id,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [77]:
#running to see if it will work with new column name
unique_items = purchase_data_renamed_df.Item_Id.nunique()

print("Number of unique item ids:",
      unique_items)
unique_items_df = pd.DataFrame({"Total Players": unique_items}, 
                               index=[0])
unique_items_df

Number of unique item ids: 179

   Total Players
0            179

In [31]:
#leaving this here as a reference for fact checking
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [51]:
#average price
average_price = (purchase_data_renamed_df["Price"].mean())
print(average_price)

3.050987179487176

In [42]:
#total purchases
purchase_id = purchase_data_renamed_df.Purchase_Id.count()
print(purchase_id)

780

In [44]:
#Total Revenue
total_revenue = purchase_data_renamed_df.Price.sum()
print(total_revenue)

2379.77

In [73]:
#New Summary Table
summary_df = pd.DataFrame({"Number of Unique Items": unique_items,
                                      "Average Price": average_price,
                                      "Number of Purchases": purchase_id,
                                      "Total Revenue": total_revenue}, index=[0])
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [89]:
#now format the average price and total revenue to show as dollars# First convert "average_donation", "goal", and "pledged" columns to float
# Then Format to go to two decimal places, include a dollar sign, and use comma notation

summary_df["Average Price"] = summary_df["Average Price"].astype(float).map("${:,.2f}".format, index=(0))
#summary_df["Total Revenue"] = summary_df["Total Revenue"].astype(float).map("${:,.2f}".format)
#hosted_in_us_df["pledged"] = hosted_in_us_df["pledged"].astype(float).map("${:,.2f}".format)

ValueError: could not convert string to float: '$3.05'

In [ ]:
#now print new formats in final summary table

In [57]:
#count in genders
purchase_data_renamed_df.groupby('Gender').size()

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
dtype: int64