In [313]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
csv_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(csv_path)
#myDataFrame.set_index('column_name')

In [314]:
# count no. of unique values in SN column

Users = purchase_data_df.SN.nunique()
  
print("Number of unique players:",
      Users)

#Creating a new DataFrame 
total_players_df = pd.DataFrame({"Total Players": Users},
                               index=[0])
total_players_df

Number of unique players: 576

   Total Players
0            576

In [315]:
#attempt to fix Item ID syntax by renaming the column
purchase_data_renamed_df = purchase_data_df.rename(columns={"Item ID": "Item_Id",
                                                            "Purchase ID": "Purchase_Id"
                                                })
purchase_data_renamed_df

,Purchase_Id,SN,Age,Gender,Item_Id,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [316]:
#running to see if it will work with new column name
unique_items = purchase_data_renamed_df.Item_Id.nunique()

print("Number of unique item ids:",
      unique_items)
unique_items_df = pd.DataFrame({"Number of Unique Items": unique_items}, 
                               index=[0])
unique_items_df

Number of unique item ids: 179

   Number of Unique Items
0                     179

In [317]:
#leaving this here as a reference for fact checking
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [318]:
#average price
average_price = (purchase_data_renamed_df["Price"].mean())
print(average_price)

3.050987179487176

In [319]:
#total purchases
purchase_id = purchase_data_renamed_df.Purchase_Id.count()
print(purchase_id)

780

In [320]:
#Total Revenue
total_revenue = purchase_data_renamed_df.Price.sum()
print(total_revenue)

2379.77

In [321]:
#New Summary Table
summary_df = pd.DataFrame({"Number of Unique Items": unique_items,
                                      "Average Price": average_price,
                                      "Number of Purchases": purchase_id,
                                      "Total Revenue": total_revenue}, index=[0])
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [322]:
#now format the average price and total revenue to show as dollars# First convert "average_donation", "goal", and "pledged" columns to float
# Then Format to go to two decimal places, include a dollar sign, and use comma notation
summary_df["Average Price"] = summary_df["Average Price"].astype(float).map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].astype(float).map("${:,.2f}".format)
#hosted_in_us_df["pledged"] = hosted_in_us_df["pledged"].astype(float).map("${:,.2f}".format)
summary_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [91]:
#Total Gender Count
total_count= purchase_data_renamed_df.Gender.count()
total_count

780

In [173]:
#group by gender
#gender_summary = purchase_data_renamed_df.groupby("Gender")

In [323]:
#count total gender input
gender_total = gender_summary.nunique()["SN"]
gender_total

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [324]:
# Total count by gender and divivde by total players 
percentage_of_players = gender_total / Users * 100

In [ ]:
#count totals of different genders

In [ ]:
#calculate percentages formula
percentage_of_players = gender_total / total_players * 100

In [325]:
# Create a new column that finds the percent
gender_summary_df = pd.DataFrame({"Total Count" : gender_total,
                                  "Percentage of Players" : percentage_of_players})

In [326]:
#delete index
#gender_summary_df.index.name = None
gender_summary_df

                       Total Count  Percentage of Players
Gender
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722

In [327]:
#format percentages
gender_summary_df.style.format({"Percentage of Players":"{:.2f}%"})

In [341]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
#group by gender
gender_summary = purchase_data_renamed_df.groupby("Gender")

#count total gender input
gender_total = gender_summary.nunique()["SN"]
gender_total

#total purchases
total_purchase_gender = purchase_data_renamed_df.groupby("Gender")["Purchase_Id"].count()
print(total_purchase_gender)

#avg purchase price
average_price_gender = purchase_data_renamed_df.groupby("Gender")["Price"].mean()
print(average_price_gender)

#avg purchase total per person
avg_purchase_total_gender = gender_summary["Price"].sum()
print(avg_purchase_total_gender)

#Average Total Purchase by Person by gender
avg_total_purchase_person_gender = avg_purchase_total_gender/gender_total
print(avg_total_purchase_person_gender)

#avg_purchase_total_person_gender = gender_summary["Price"].mean()
#print(avg_purchase_total_person_gender)

#Create a summary data frame to hold the results
gender_summary1_df = pd.DataFrame({"Purchase Count": total_purchase_gender,
                                      "Average Purchase Price": average_price_gender,
                                      "Total Purchase Value": avg_purchase_total_gender,
                                      "Average Total Purchase per Person": avg_total_purchase_person_gender})
gender_summary1_df
#Optional: give the displayed data cleaner formatting
gender_summary1_df.style.format({"Average Purchase Price":"${:.2f}"})
gender_summary1_df.style.format({"Total Purchase Value":"${:.2f}"})
gender_summary1_df.style.format({"Average Total Purchase per Person":"${:.2f}"})
#summary_df["Average Price"].astype(float).map("${:,.2f}".format)
#Display the summary data frame
gender_summary1_df

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase_Id, dtype: int64
Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64
Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64
Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [330]:
#checking ages, was showing all <10, ran from the top and now it's fine
purchase_data_renamed_df

,Purchase_Id,SN,Age,Gender,Item_Id,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [346]:
#Age Demographics
 
#Establish bins for ages
age_max = purchase_data_renamed_df["Age"].max()
print(age_max)
age_min = purchase_data_renamed_df["Age"].min()
print(age_min)

# Create the bins in which Data will be held   
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]

# Create the names for the bins
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorize the existing players using the age bins. Hint: use pd.cut()
purchase_data_renamed_df["Age Bins"] = pd.cut(purchase_data_renamed_df["Age"], bins, labels=bin_names, include_lowest=True)
purchase_data_renamed_df

# Creating a group based off of the bins - function after groupby
#age_bins = purchase_data_renamed_df.groupby("Age Bins")
#age_bins.min()

#take out duplicate players 
total_age_count = age_bins_df.nunique()["SN"]
total_age_count
#print(age_bins_df["SN"].count())
#Users = purchase_data_df.SN.nunique()

# Get the percentage 
#age_bins[["comments", "duration", "languages"]].mean()
age_percent = total_age_count/Users *100
age_percent

#Create a summary data frame to hold the results
age_summary_df = pd.DataFrame({"Total Count": total_age_count,
                            "Percentage of Players": age_percent})                         
age_summary_df

#Optional: round the percentage column to two decimal points
age_summary_df.style.format({"Percentage of Players":"{:.2f}%"})

#Display Age Demographics Table
#print(np.dtype(np.summary_ages_df))

#imported numpy, found this code to make it work?
#print(np.dtype(np.int16))

45
7

In [354]:
#Purchasing Analysis (Age)
 
#Bin the purchase_data data frame by age
age_summary1_df = purchase_data_renamed_df.groupby("Age Bins")
age_summary1_df.head()

#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
#total purchases
total_purchase_age = purchase_data_renamed_df.groupby("Age Bins")["Purchase_Id"].count()
print(total_purchase_age)

#avg purchase price
average_price_age = purchase_data_renamed_df.groupby("Age Bins")["Price"].mean()
print(average_price_age)

#avg purchase total per person
avg_purchase_total_age = age_summary1_df["Price"].sum()
print(avg_purchase_total_age)

#Average Total Purchase by Person by gender
avg_total_purchase_person_age = avg_purchase_total_age/total_age_count
print(avg_total_purchase_person_age)

#Create a summary data frame to hold the results
age_summary1_df = pd.DataFrame({"Purchase Count": total_purchase_age,
                                      "Average Purchase Price": average_price_age,
                                      "Total Purchase Value": avg_purchase_total_age,
                                      "Average Total Purchase per Person": avg_total_purchase_person_age})
age_summary1_df

#Optional: give the displayed data cleaner formatting
age_summary1_df["Average Purchase Price"] = age_summary1_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
age_summary1_df["Total Purchase Value"] = age_summary1_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
age_summary1_df["Average Total Purchase per Person"] = age_summary1_df["Average Total Purchase per Person"].astype(float).map("${:,.2f}".format)
#age_summary1_df.style.format({"Average Purchase Price":"${:.2f}"})
#age_summary1_df.style.format({"Total Purchase Value":"${:.2f}"})
#age_summary1_df.style.format({"Average Total Purchase per Person":"${:.2f}"})

#Display the summary data frame
age_summary1_df

Age Bins
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase_Id, dtype: int64
Age Bins
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64
Age Bins
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64
Age Bins
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Bins,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [363]:
#Find Top 5 Spenders
spender_summary = purchase_data_renamed_df.groupby("SN")
spender_summary.head(10)

#count total gender input
#spender_total = spender_summary.nunique()["SN"]
#spender_total
#purchase_data_df.sort_values(by=['Price']).head(5)
 
#Run basic calculations to obtain the results in the table below - purchase count, purchase price, total purchase value
#total purchases
#total_purchase_spender = purchase_data_df.nunique()["SN"]
#print(total_purchase_spender)

#avg purchase price
#average_price_age = purchase_data_renamed_df.groupby("Age Bins")["Price"].mean()
#print(average_price_age)

#avg purchase total per person
#avg_purchase_total_age = summary_ages_df["Price"].sum()
#print(avg_purchase_total_age)


#Create a summary data frame to hold the results

#Sort the total purchase value column in descending order

#Optional: give the displayed data cleaner formatting

#Display a preview of the summary data frame

,Purchase_Id,SN,Age,Gender,Item_Id,Item Name,Price,Age Bins
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [ ]:
#Most Popular Items
 
#Retrieve the Item ID, Item Name, and Item Price columns

#Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value

#Create a summary data frame to hold the results

#Sort the purchase count column in descending order

#Optional: give the displayed data cleaner formatting

#Display a preview of the summary data frame

In [ ]:
#Sort the above table by total purchase value in descending order - Purchase count, item price, total purchase value

#Optional: give the displayed data cleaner formatting

#Display a preview of the data fram